<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- BEGIN HEADER -->
    <app-header></app-header>
    <!-- END HEADER -->
    <div class="container">
        <form [formGroup]="postUserForm" (ngSubmit)="onSubmit()" id="contact">
            <div class="container-fluid">
                <div class="row book-post">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="test mt-3">Books Details</h4>
                            </div>
                            <div class="col-md-12">
                                <label>Category</label>
                                <select formControlName="category"
                                    [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
                                    <option>B.tech-B.E</option>
                                    <option>B.A</option>
                                    <option>B.Com</option>
                                    <option>B.Sc</option>
                                    <option>B.C.A</option>
                                    <option>B.Ed</option>
                                    <option>M.tech-M.E</option>
                                    <option>M.C.A</option>
                                    <option>M.B.A</option>
                                    <option>M.Com</option>
                                    <option>M.A</option>
                                    <option>M.Sc</option>
                                    <option>M.B.B.S</option>
                                    <option>L.L.B</option>
                                    <option>C.A</option>
                                    <option>Diploma-Polytechnic</option>
                                    <option>I.T.I</option>
                                    <option>Railway</option>
                                    <option>SSC</option>
                                    <option>Banking</option>
                                    <option>I.A.S</option>
                                    <option>Defence</option>
                                    <option>Others</option>
                                    <option>1-12(Class)</option>
                                    <option>P.hd</option>
                                    <option>M.Phill</option>
                                    <option>others</option>
                                </select>
                                <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                                    <div *ngIf="f.category.errors.required">category is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Department</label>
                                <select formControlName="department"
                                    [ngClass]="{ 'is-invalid': submitted && f.department.errors }" id="departmentId">
                                    <option>Civil-Engineering</option>
                                    <option>Mechnical-Engineering</option>
                                    <option>Computer-Engineering</option>
                                    <option>Electrical-Engineering</option>
                                    <option>Information-technology</option>
                                    <option>Architecture-Engineering</option>
                                    <option>Automobile-Engineering</option>
                                    <option>Math</option>
                                    <option>Physics</option>
                                    <option>Chemistry</option>
                                    <option>Biology</option>
                                    <option>English</option>
                                    <option>Hindi</option>
                                    <option>History</option>
                                    <option>Civics</option>
                                    <option>Geography</option>
                                    <option>Social-Science</option>
                                    <option>Reasoning</option>
                                    <option>Aptitude</option>
                                    <option>General-Knowledge</option>
                                    <option>Anatomy</option>
                                    <option>Biochemestry</option>
                                    <option>Physilogy</option>
                                </select>
                                <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                                    <div *ngIf="f.department.errors.required">department is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Book Name </label>
                                <input type="text" placeholder="Book Name" formControlName="bookname"
                                    [ngClass]="{ 'is-invalid': submitted && f.bookname.errors }">
                                <div *ngIf="submitted && f.bookname.errors" class="invalid-feedback">
                                    <div *ngIf="f.bookname.errors.required">bookname is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Author Name </label>
                                <input type="text" placeholder="Author Name" formControlName="authorname">
                                <!-- <div *ngIf="submitted && f.authorname.errors" class="invalid-feedback">
                            <div *ngIf="f.authorname.errors.required">authorname is required</div>
                             [ngClass]="{ 'is-invalid': submitted && f.authorname.errors }" id="hidetxt"
                        </div> -->
                            </div>
                            <div class="col-md-12">
                                <label>ISBN No. <span><a href="javascript:void(0);" (click)="isbnExample()">click here to know ISBN No.</a></span></label>
                                <input type="text" placeholder="ISBN No." formControlName="isdnnumber"
                                    [ngClass]="{ 'is-invalid': submitted && f.isdnnumber.errors }">
                                <div *ngIf="submitted && f.isdnnumber.errors" class="invalid-feedback">
                                    <div *ngIf="f.isdnnumber.errors.required">ISBN No. is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Conform ISBN No.</label>
                                <input type="text" placeholder="Conform ISBN No." formControlName="Cisdnnumber"
                                    [ngClass]="{ 'is-invalid': submitted && f.Cisdnnumber.errors }">
                                <div *ngIf="submitted && f.Cisdnnumber.errors" class="invalid-feedback">
                                    <div *ngIf="f.Cisdnnumber.errors.required">Conform ISBN No. is required</div>
                                    <div *ngIf="f.Cisdnnumber.errors.mustMatch">ISBN No. must match</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Edition</label>
                                <input type="text" placeholder="Edition" formControlName="edition">
                                <!-- <div *ngIf="submitted && f.edition.errors" class="invalid-feedback">
                            <div *ngIf="f.edition.errors.required">edition is required</div>
                            [ngClass]="{ 'is-invalid': submitted && f.edition.errors }" id="hidetxt"
                        </div> -->
                            </div>
                            <div class="col-md-12">
                                <label>Upload front side book image</label>
                                <input #file type="file" placeholder="upload front side book image" accept="image/*"
                                    (change)="previewimage(file.files,$event)" formControlName="frontbookimage"
                                    [ngClass]="{ 'is-invalid': submitted && f.frontbookimage.errors }">
                                <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
                                <div *ngIf="submitted && f.frontbookimage.errors" class="invalid-feedback">
                                    <div *ngIf="f.frontbookimage.errors.required">frontbookimage is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Actual Price</label>
                                <input type="number" placeholder="Actual Price" formControlName="actualprice"
                                    [ngClass]="{ 'is-invalid': submitted && f.actualprice.errors }">
                                <div *ngIf="submitted && f.actualprice.errors" class="invalid-feedback">
                                    <div *ngIf="f.actualprice.errors.required">actual price is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Selling Price</label>
                                <input type="number" placeholder="Selling Price" formControlName="sellingprice"
                                    [ngClass]="{ 'is-invalid': submitted && f.sellingprice.errors }">
                                <div *ngIf="submitted && f.sellingprice.errors" class="invalid-feedback">
                                    <div *ngIf="f.sellingprice.errors.required">selling price is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Description</label>
                                <textarea type="text" placeholder="Description" formControlName="description"
                                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                    <div *ngIf="f.description.errors.required">Tell about the book or book condition
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="mt-3">Personal Information</h4>
                            </div>
                            <div class="col-md-12">
                                <label>Youe Name</label>
                                <input type="text" placeholder="Name" formControlName="name"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">name is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Email</label>
                                <input class="form-control placeholder-no-fix" type="text" placeholder="Email"
                                    formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Mobile Number</label>
                                <input type="number" class="form-control" placeholder="Mobile Number"
                                    formControlName="mbnumber" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && f.mbnumber.errors }">
                                <div *ngIf="submitted && f.mbnumber.errors" class="invalid-feedback">
                                    <div *ngIf="f.mbnumber.errors.required">mobile number is required</div>
                                    <div *ngIf="f.mbnumber.errors.pattern">Mobile number must be at 10 digits</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Select State</label>
                                <select id="state" formControlName="state"
                                    [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                    <option>New Delhi</option>
                                    <option>Utter Pradesh</option>

                                </select>
                                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                    <div *ngIf="f.state.errors.required">state is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Select City</label>
                                <select formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                    <option>New Delhi</option>
                                    <option>Noida</option>
                                    <option>Gurugram</option>
                                </select>
                                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                    <div *ngIf="f.city.errors.required">City is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Pick Up Address</label>
                                <textarea type="text" placeholder="Pick Up Address" formControlName="pickaddress"
                                    [ngClass]="{ 'is-invalid': submitted && f.pickaddress.errors }"></textarea>
                                <div *ngIf="submitted && f.pickaddress.errors" class="invalid-feedback">
                                    <div *ngIf="f.pickaddress.errors.required">Pick Up Address is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Pin Code</label>
                                <input type="number" placeholder="pincode" formControlName="pincode"
                                    [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }">
                                <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
                                    <div *ngIf="f.pincode.errors.required">pincode is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Mobile No. / UPI id to receive payment</label>
                                <input type="text" placeholder="" formControlName="upi"
                                    [ngClass]="{ 'is-invalid': submitted && f.upi.errors }">
                                <div *ngIf="submitted && f.upi.errors" class="invalid-feedback">
                                    <div *ngIf="f.upi.errors.required">Mobile No. / UPI id is required</div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <b>Note* :-</b><br>
                                10% Charge on listing price.<br>
                                Example:- List Price (Selling Price) is Rs.200, then Rs.20 will be deducted as commission + G.S.T applicable<br>
                                But less than Rs.100 listing price, The fixed commission Rs.10 + G.S.T will deducted
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center">
                <button type="submit" class="btn-post" value="Submit">Submit</button>
            </div>
        </form>
    </div>
    <!-- BEGAIN FOOTER -->
    <app-footer></app-footer>
    <!-- END FOOTER -->
</body>

</html>

<ngx-spinner bdOpacity=0.9 bdColor="#d365e9a6" size="large" color="#d365e9a6" type="ball-atom" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>