<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
     <!-- BEGIN HEADER -->
     <app-header></app-header> 
     <!-- END HEADER -->
<div class="container" >
    <div class="row">
		<div class="col-md-6 books">
			<!-- <img  src="{{bookdata.frontbookimage}}" class="bookimg" />
				<div>
				    <label>{{bookdata.bookname}}</label><br>
                     <label>Author Name -{{bookdata.authorname}}</label><br>
                     <label>Actual Price - {{bookdata.actualprice}}</label><br>
                    <label>Selling Price - {{bookdata.sellingprice}}</label><br>
                </div> -->
                <div class="card" >
                    <div class="book-img">
                        <img class="card-img-top" src={{imageUrl}}{{bookdata.frontbookimage}} />
                    </div>
                    <div class="card-body">
                        <div class="book-name">{{bookdata.bookname}}</div>
                        <div class="auther-name">{{bookdata.authorname}}</div>
                        <div class="row">
                            <div class="col-6"><div class="actual-price">₹ {{bookdata.actualprice}}</div></div>
                            <div class="col-6"><div class="selling-price">₹ {{bookdata.sellingprice}}</div></div>
                        </div>
                    </div>
                  </div>
        </div>
		<div class="col-md-6 addressing"> 
				<form [formGroup]="buyUserForm" (ngSubmit)="onSubmit()">
                    <h4 class="mt-3">DELIVERY DETAILS</h4>
				    <div>
					    <label> Name</label> 
                            <input type="text" class="buy-page" placeholder="name" formControlName="name"
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">name is required</div>
                                    </div>
				    </div>
				    <div>
					    <label> Mobile Number</label>
                            <input type="number" class="buy-page" placeholder="Mobile Number"
                                formControlName="mbnumber" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f.mbnumber.errors }">
                            <div *ngIf="submitted && f.mbnumber.errors" class="invalid-feedback">
                                <div *ngIf="f.mbnumber.errors.required">mobile number is required</div>
                                <div *ngIf="f.mbnumber.errors.pattern">Mobile number must be at 10 digits</div>
                            </div>
				</div>
				<div>
					<label> Email</label>
						<input type="email" id="inputEmail" class="buy-page" placeholder="Email address" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
				</div>
				<div>
					<label> Delivery address</label>
                        <textarea class="col-md-6 delivery" type="text" placeholder="Delivery Address" class="buy-page" formControlName="deliveryaddress"
                            [ngClass]="{ 'is-invalid': submitted && f.deliveryaddress.errors }"></textarea>
                                <div *ngIf="submitted && f.deliveryaddress.errors" class="invalid-feedback">
                                    <div *ngIf="f.deliveryaddress.errors.required">deliveryaddress is required</div>
                                </div>
				</div>
                <div class="btn-center"><button type="submit" class="buybutton" class="col-md-6">Submit</button></div>
                </form>
                
                <!-- <button  mat-raised-button color="primary" (click)="payment()">Pay $50</button> -->
        </div>
	</div>
</div>  
      <!-- BEGAIN FOOTER -->
      <app-footer></app-footer>
      <!-- END FOOTER -->
</body>
</html>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#d365e9a6"
size = "large"
color = "#d365e9a6"
type = "ball-atom"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>