<!DOCTYPE html>
<html lang="en">

<head>    
</head>

<body>
    <!-- BEGIN HEADER -->
    <app-header></app-header>
    <!-- END HEADER -->
    <div class="container buy">
        <h4 class="mt-3">Buy Books Details</h4>
        <div class="table-responsive">
            <a href="javascript:void(0);" (click)="cancelOrder()">Cancel your order, Click here</a>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Books Name</th>
                <th>Author Name</th>
                <th>ISBN Number</th>
                <th>Price</th>
                <th>Order date</th>
            </tr>
            <tr *ngFor= "let data of tempdata">
                <td>{{data.bookname}}</td>
                <td>{{data.authorname}}</td>
                <td>{{data.isdnnumber}}</td>
                <td>{{data.sellingprice}}</td>
                <td>{{data.Date}}</td>
            </tr>

        </table>
    </div>
    </div>
    <div class="extra"></div>
    <div></div>
    <div></div>

 <!-- BEGAIN FOOTER -->
 <app-footer></app-footer>
 <!-- END FOOTER -->

</body>

</html>

<ngx-spinner
bdOpacity = 0.9
bdColor = "#d365e9a6"
size = "large"
color = "#d365e9a6"
type = "ball-atom"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>